.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://scontent.fmnl9-3.fna.fbcdn.net/v/t1.15752-9/290719673_756041525587995_8921222288437860619_n.png?_nc_cat=100&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeFCSBtGqjS3R2U2OFTMu0Uy0y4uL_2cMtHTLi4v_Zwy0bkVUAPgfcHppuSijcfUjLhqd328Mkz_55LCwQG9OlFW&_nc_ohc=4_PYe9i3x_4AX8QdlCn&_nc_ht=scontent.fmnl9-3.fna&oh=03_AVKM9GM3Ga8EcjC5FD6HLOfQyTT-zQSo53dR0MOlB6e-kQ&oe=62E8732C');
  background-size: cover;
  background-position: center center;
}